@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=cyrillic,latin);
/* line 6, D:/proj/idea/openVillage/sass/style.sass */
body {
  font-family: "Cuprum", sans-serif;
  background: white;
  min-width: 1200px;
  min-height: 200px;
}

/* line 13, D:/proj/idea/openVillage/sass/style.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 2, D:/proj/idea/openVillage/sass/_placeholderText.scss */
input.placeholder {
  color: #bebebe;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
/* line 3, D:/proj/idea/openVillage/sass/_placeholderText.scss */
input:-moz-placeholder {
  color: #bebebe;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
/* line 4, D:/proj/idea/openVillage/sass/_placeholderText.scss */
input::-moz-placeholder {
  color: #bebebe;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
/* line 5, D:/proj/idea/openVillage/sass/_placeholderText.scss */
input:-ms-input-placeholder {
  color: #bebebe;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}
/* line 6, D:/proj/idea/openVillage/sass/_placeholderText.scss */
input::-webkit-input-placeholder {
  color: #bebebe;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

/* line 30, D:/proj/idea/openVillage/sass/style.sass */
.wrapper, .special .wrapper, .program .wrapper, .reviews, .reviews .slider {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-top: 26px;
}

/* line 38, D:/proj/idea/openVillage/sass/style.sass */
.fl {
  float: left;
}

/* line 41, D:/proj/idea/openVillage/sass/style.sass */
.fr {
  float: right;
}

/* line 44, D:/proj/idea/openVillage/sass/style.sass */
.cb {
  clear: both;
}

/* line 48, D:/proj/idea/openVillage/sass/style.sass */
header {
  background: url(../img/background_top.jpg) center no-repeat;
  height: 720px;
}

/* line 52, D:/proj/idea/openVillage/sass/style.sass */
.top {
  height: 125px;
  background: rgba(255, 255, 255, 0.7);
}
/* line 55, D:/proj/idea/openVillage/sass/style.sass */
.top .wrapper, .top .reviews, .top .reviews .slider, .reviews .top .slider {
  padding-top: 14px;
}
/* line 57, D:/proj/idea/openVillage/sass/style.sass */
.top .wrapper .tel, .top .reviews .tel, .reviews .top .slider .tel {
  text-align: right;
}
/* line 59, D:/proj/idea/openVillage/sass/style.sass */
.top .wrapper .tel h2, .top .reviews .tel h2, .reviews .top .slider .tel h2, .top .descr .wrapper .tel h3, .descr .top .wrapper .tel h3, .top .reviews .tel .descr .wrapper h3, .reviews .top .slider .tel .descr .wrapper h3, .top .wrapper .tel .descr .reviews h3, .top .descr .reviews .tel h3, .descr .top .reviews .tel h3, .descr .reviews .top .slider .tel h3, .top .wrapper .tel .reviews .descr .slider h3, .top .reviews .tel .descr .slider h3, .top .reviews .descr .slider .tel h3, .reviews .top .descr .slider .tel h3, .reviews .descr .top .slider .tel h3, .top .wrapper .tel .footer h3, .footer .top .wrapper .tel h3, .top .reviews .tel .footer h3, .footer .top .reviews .tel h3, .reviews .top .slider .tel .footer h3, .footer .reviews .top .slider .tel h3 {
  font-size: 29px;
  margin: 0;
}
/* line 63, D:/proj/idea/openVillage/sass/style.sass */
.top .wrapper .tel h2 span, .top .reviews .tel h2 span, .reviews .top .slider .tel h2 span, .top .descr .wrapper .tel h3 span, .descr .top .wrapper .tel h3 span, .top .reviews .tel .descr .wrapper h3 span, .reviews .top .slider .tel .descr .wrapper h3 span, .top .wrapper .tel .descr .reviews h3 span, .top .descr .reviews .tel h3 span, .descr .top .reviews .tel h3 span, .descr .reviews .top .slider .tel h3 span, .top .wrapper .tel .reviews .descr .slider h3 span, .top .reviews .tel .descr .slider h3 span, .top .reviews .descr .slider .tel h3 span, .reviews .top .descr .slider .tel h3 span, .reviews .descr .top .slider .tel h3 span, .top .wrapper .tel .footer h3 span, .footer .top .wrapper .tel h3 span, .top .reviews .tel .footer h3 span, .footer .top .reviews .tel h3 span, .reviews .top .slider .tel .footer h3 span, .footer .reviews .top .slider .tel h3 span {
  color: #ae1739;
}
/* line 65, D:/proj/idea/openVillage/sass/style.sass */
.top .wrapper .tel p, .top .reviews .tel p, .reviews .top .slider .tel p {
  font-size: 29px;
  font-weight: bold;
  text-align: right;
  margin: 14px 0 0;
}

/* line 70, D:/proj/idea/openVillage/sass/style.sass */
.descr {
  text-align: center;
}
/* line 73, D:/proj/idea/openVillage/sass/style.sass */
.descr .wrapper h2, .descr .reviews h2, .reviews .descr .slider h2, .descr .wrapper h3, .descr .reviews h3, .reviews .descr .slider h3 {
  background: rgba(197, 41, 43, 0.7);
  font-size: 52px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  margin-top: 162px;
  margin-bottom: 10px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 82, D:/proj/idea/openVillage/sass/style.sass */
.descr .wrapper h3, .descr .reviews h3, .reviews .descr .slider h3 {
  font-size: 37px;
  font-weight: normal;
  margin-top: 0;
}

/* line 87, D:/proj/idea/openVillage/sass/style.sass */
.special {
  background: url(../img/bg_man.jpg) center no-repeat;
  height: 437px;
}
/* line 90, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper, .special .reviews, .special .reviews .slider, .reviews .special .slider {
  width: 780px;
  text-align: center;
  padding-top: 0;
  margin-top: 12px;
}
/* line 96, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h2, .special .reviews h2, .reviews .special .slider h2, .special .descr .wrapper h3, .descr .special .wrapper h3, .special .descr .reviews h3, .descr .special .reviews h3, .descr .reviews .special .slider h3, .special .reviews .descr .slider h3, .reviews .special .descr .slider h3, .reviews .descr .special .slider h3, .special .wrapper .footer h3, .footer .special .wrapper h3, .special .reviews .footer h3, .footer .special .reviews h3, .reviews .special .slider .footer h3, .footer .reviews .special .slider h3 {
  text-transform: uppercase;
  font-size: 49px;
  margin: 0;
  line-height: 1.1em;
}
/* line 101, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h3, .special .reviews h3, .reviews .special .slider h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 32px;
  line-height: 1.1em;
}
/* line 106, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h4, .special .reviews h4, .reviews .special .slider h4 {
  font-size: 60px;
  color: #c6192c;
  text-align: center;
  margin-right: 190px;
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 113, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h5, .special .reviews h5, .reviews .special .slider h5 {
  font-size: 38px;
  text-align: right;
  margin: -10px 142px 0 0;
  color: #701876;
}
/* line 118, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h6, .special .reviews h6, .reviews .special .slider h6 {
  font-size: 30px;
  margin: -7px 170px 0 0;
}
/* line 121, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h6 span, .special .reviews h6 span, .reviews .special .slider h6 span {
  color: #c6192c;
  font-size: 40px;
}
/* line 124, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h7, .special .reviews h7, .reviews .special .slider h7 {
  font-size: 22px;
  margin: 0;
  line-height: 1.1em;
  font-weight: bold;
}
/* line 129, D:/proj/idea/openVillage/sass/style.sass */
.special .wrapper h7 span, .special .reviews h7 span, .reviews .special .slider h7 span {
  color: #c6192c;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 133, D:/proj/idea/openVillage/sass/style.sass */
.message {
  background: url(../img/bg_message.jpg) center no-repeat;
  height: 298px;
}
/* line 136, D:/proj/idea/openVillage/sass/style.sass */
.message .timer {
  padding-left: 40px;
}
/* line 138, D:/proj/idea/openVillage/sass/style.sass */
.message .timer h3 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 147, D:/proj/idea/openVillage/sass/style.sass */
.message .timer .timerInner {
  height: 140px;
  width: 510px;
  border: solid 7px white;
  border-radius: 10px;
}
/* line 152, D:/proj/idea/openVillage/sass/style.sass */
.message .timer .timerInner .digitsBlock {
  width: 92px;
  height: 68px;
}
/* line 155, D:/proj/idea/openVillage/sass/style.sass */
.message .send {
  width: 275px;
  height: 210px;
  margin: 25px 0 0;
  padding-left: 90px;
}
/* line 160, D:/proj/idea/openVillage/sass/style.sass */
.message .send input {
  width: 270px;
  height: 43px;
  background: white;
  border-radius: 5px;
  margin-bottom: 7px;
}
/* line 166, D:/proj/idea/openVillage/sass/style.sass */
.message .send button {
  width: 270px;
  height: 43px;
  color: black;
  font-size: 24px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid yellow;
  background-color: #ffc80c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc900), color-stop(100%, #ffa200));
  background: -webkit-linear-gradient(top, #ffc900, #ffa200);
  background: -moz-linear-gradient(top, #ffc900, #ffa200);
  background: -o-linear-gradient(top, #ffc900, #ffa200);
  background: linear-gradient(top, #ffc900, #ffa200);
  -webkit-box-shadow: chocolate 0 3px 5px;
  -moz-box-shadow: chocolate 0 3px 5px;
  box-shadow: chocolate 0 3px 5px;
}

/* line 180, D:/proj/idea/openVillage/sass/style.sass */
.crossLine {
  text-align: center;
  float: center;
  display: inline-block;
}
/* line 184, D:/proj/idea/openVillage/sass/style.sass */
.crossLine h2, .crossLine .descr .wrapper h3, .descr .wrapper .crossLine h3, .crossLine .descr .reviews h3, .descr .reviews .crossLine h3, .crossLine .reviews .descr .slider h3, .reviews .descr .slider .crossLine h3, .crossLine .footer h3, .footer .crossLine h3 {
  float: left;
  font-size: 45px;
  font-weight: bold;
  color: #630460;
  text-transform: uppercase;
  margin: 0 10px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.1em;
}
/* line 195, D:/proj/idea/openVillage/sass/style.sass */
.crossLine .dash {
  background: url(../img/dash_pink.png) center center no-repeat;
  width: 104px;
  height: 36px;
}

/* line 203, D:/proj/idea/openVillage/sass/style.sass */
.about {
  text-align: center;
}
/* line 205, D:/proj/idea/openVillage/sass/style.sass */
.about h2, .about .descr .wrapper h3, .descr .wrapper .about h3, .about .descr .reviews h3, .descr .reviews .about h3, .about .reviews .descr .slider h3, .reviews .descr .slider .about h3, .about .footer h3, .footer .about h3 {
  font-size: 45px;
  font-weight: bold;
  color: #630460;
  text-transform: uppercase;
  margin: 0 20px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  line-height: 1.1em;
}
/* line 213, D:/proj/idea/openVillage/sass/style.sass */
.about h3 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 25px;
  color: #c6192c;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 221, D:/proj/idea/openVillage/sass/style.sass */
.about ul {
  padding: 0 0 0 20px;
  list-style: none;
  margin: 0 0 0 5px;
}
/* line 225, D:/proj/idea/openVillage/sass/style.sass */
.about ul li {
  background: url(../img/check.png) no-repeat;
  padding-left: 65px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: 45px;
  text-align: left;
}

/* line 232, D:/proj/idea/openVillage/sass/style.sass */
.crossLineOrange {
  text-align: center;
  float: center;
  display: inline-block;
}
/* line 236, D:/proj/idea/openVillage/sass/style.sass */
.crossLineOrange h2, .crossLineOrange .descr .wrapper h3, .descr .wrapper .crossLineOrange h3, .crossLineOrange .descr .reviews h3, .descr .reviews .crossLineOrange h3, .crossLineOrange .reviews .descr .slider h3, .reviews .descr .slider .crossLineOrange h3, .crossLineOrange .footer h3, .footer .crossLineOrange h3 {
  float: left;
  font-size: 28px;
  font-weight: bold;
  color: #c6192c;
  text-transform: uppercase;
  margin: 0 40px;
  line-height: 1.1em;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 245, D:/proj/idea/openVillage/sass/style.sass */
.crossLineOrange .dashOrange {
  background: url(../img/dash_orange.png) center center no-repeat;
  width: 104px;
  height: 28px;
}

/* line 250, D:/proj/idea/openVillage/sass/style.sass */
.program {
  height: 650px;
}
/* line 252, D:/proj/idea/openVillage/sass/style.sass */
.program .wrapper, .program .reviews, .program .reviews .slider, .reviews .program .slider {
  width: 792px;
}
/* line 255, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket {
  width: 396px;
  height: 631px;
  background: url(../img/ticket.png) center no-repeat;
  text-align: center;
}
/* line 260, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket .send {
  height: 210px;
  margin: 5px 0 0;
}
/* line 264, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket .send input {
  width: 270px;
  height: 43px;
  background: white;
  border-radius: 5px;
  margin-bottom: 7px;
}
/* line 270, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket .send button {
  width: 270px;
  height: 70px;
  color: black;
  font-size: 24px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid yellow;
  background-color: #ffc80c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc900), color-stop(100%, #ffa200));
  background: -webkit-linear-gradient(top, #ffc900, #ffa200);
  background: -moz-linear-gradient(top, #ffc900, #ffa200);
  background: -o-linear-gradient(top, #ffc900, #ffa200);
  background: linear-gradient(top, #ffc900, #ffa200);
  -webkit-box-shadow: chocolate 0 5px 10px;
  -moz-box-shadow: chocolate 0 5px 10px;
  box-shadow: chocolate 0 5px 10px;
}
/* line 283, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket h3 {
  font-size: 28px;
  margin-top: 35px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 288, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket h3 span {
  color: #c6192c;
  text-transform: lowercase;
}
/* line 292, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket h2, .program .ticket .descr .wrapper h3, .descr .wrapper .program .ticket h3, .program .ticket .descr .reviews h3, .descr .reviews .program .ticket h3, .program .ticket .reviews .descr .slider h3, .reviews .descr .slider .program .ticket h3, .program .ticket .footer h3, .footer .program .ticket h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0 0 -20px;
}
/* line 296, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #630460;
  width: 270px;
  display: block;
  font-family: sans-serif;
  margin: 0 auto;
}
/* line 304, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket img {
  margin: 20px auto;
  display: block;
}
/* line 307, D:/proj/idea/openVillage/sass/style.sass */
.program .ticket .second, .program .ticket .we .best .third, .we .best .program .ticket .third, .program .ticket .we .best .forth, .we .best .program .ticket .forth, .program .ticket .we .best .sixth, .we .best .program .ticket .sixth, .program .ticket .we .best .seventh, .we .best .program .ticket .seventh, .program .ticket .we .best .eighth, .we .best .program .ticket .eighth {
  display: inline-block;
}

/* line 309, D:/proj/idea/openVillage/sass/style.sass */
.see {
  margin-top: 20px;
}
/* line 311, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee {
  width: 940px;
  -webkit-box-shadow: #d9d9d9 0 0 1px 8px;
  -moz-box-shadow: #d9d9d9 0 0 1px 8px;
  box-shadow: #d9d9d9 0 0 1px 8px;
  border-radius: 10px;
  border: #d9d9d9 1px inset;
  display: block;
  font-size: 28px;
  padding: 0 0 0 30px;
  list-style: none;
  overflow: hidden;
  counter-reset: numList;
  font-weight: bold;
}
/* line 316, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee .article {
  counter-reset: numList;
}
/* line 318, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee h2, .see .whatDoYouSee .descr .wrapper h3, .descr .wrapper .see .whatDoYouSee h3, .see .whatDoYouSee .descr .reviews h3, .descr .reviews .see .whatDoYouSee h3, .see .whatDoYouSee .reviews .descr .slider h3, .reviews .descr .slider .see .whatDoYouSee h3, .see .whatDoYouSee .footer h3, .footer .see .whatDoYouSee h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  color: #c6192c;
  margin-top: 30px;
  margin-bottom: -20px;
}
/* line 335, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee li {
  width: 861px;
  padding-left: 10px;
  float: left;
  position: relative;
}
/* line 340, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee li span {
  color: #46b9bb;
  text-decoration: underline;
}
/* line 344, D:/proj/idea/openVillage/sass/style.sass */
.see .whatDoYouSee li:before {
  counter-increment: numList;
  content: counter(numList);
  float: left;
  position: absolute;
  left: -40px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: white;
  line-height: 37px;
  width: 37px;
  height: 37px;
  background: #701876;
  border-radius: 999px;
}

/* line 363, D:/proj/idea/openVillage/sass/style.sass */
.reviews {
  text-align: center;
  margin-top: 10px;
  width: 1000px;
  height: 440px;
}
/* line 369, D:/proj/idea/openVillage/sass/style.sass */
.reviews .slider {
  margin-left: 60px;
}
/* line 373, D:/proj/idea/openVillage/sass/style.sass */
.reviews .left {
  background: url(../img/redArrow.png) no-repeat;
  width: 46px;
  height: 46px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 240px;
}
/* line 381, D:/proj/idea/openVillage/sass/style.sass */
.reviews .right {
  background: url(../img/darkArrow.png) no-repeat;
  width: 46px;
  height: 46px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 240px;
}
/* line 390, D:/proj/idea/openVillage/sass/style.sass */
.reviews .dash {
  width: 340px;
  background: url(../img/dash_pink.png) center repeat-x;
}
/* line 393, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review, .reviews .review2, .reviews .review3 {
  background: url(../img/review1.png) center left no-repeat;
  width: 870px;
  height: 300px;
  text-align: left;
  margin: auto;
}
/* line 399, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review .text, .reviews .review2 .text, .reviews .review3 .text {
  margin-left: 270px;
  padding-top: 20px;
}
/* line 402, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review .text h3, .reviews .review2 .text h3, .reviews .review3 .text h3 {
  display: block;
  margin: 0;
  color: #c6192c;
  font-size: 28px;
}
/* line 407, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review .text h4, .reviews .review2 .text h4, .reviews .review3 .text h4 {
  display: inline-block;
  margin: 0;
  color: #701876;
  text-transform: uppercase;
  font-size: 20px;
}
/* line 413, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review .text h5, .reviews .review2 .text h5, .reviews .review3 .text h5 {
  width: 600px;
  font-size: 18px;
  line-height: 1.2em;
  margin-top: 14px;
}
/* line 418, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review2 {
  background: url(../img/review2.png) center left no-repeat;
}
/* line 421, D:/proj/idea/openVillage/sass/style.sass */
.reviews .review3 {
  background: url(../img/review3.png) center left no-repeat;
}

/* line 426, D:/proj/idea/openVillage/sass/style.sass */
.we {
  height: 1132px;
  background: url(../img/weAreTheBest.jpg) center no-repeat;
}
/* line 429, D:/proj/idea/openVillage/sass/style.sass */
.we .best {
  width: 960px;
  height: 992px;
  -webkit-box-shadow: white 0 0 1px 8px;
  -moz-box-shadow: white 0 0 1px 8px;
  box-shadow: white 0 0 1px 8px;
  border: #e4e4e4 1px inset;
  border-radius: 5px;
  margin-top: 25px;
}
/* line 436, D:/proj/idea/openVillage/sass/style.sass */
.we .best .first, .we .best .fifth {
  height: 92px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding-top: 16px;
}
/* line 441, D:/proj/idea/openVillage/sass/style.sass */
.we .best .first h2, .we .best .fifth h2, .we .best .first .descr .wrapper h3, .descr .wrapper .we .best .first h3, .we .best .fifth .descr .wrapper h3, .descr .wrapper .we .best .fifth h3, .we .best .first .descr .reviews h3, .descr .reviews .we .best .first h3, .we .best .fifth .descr .reviews h3, .descr .reviews .we .best .fifth h3, .we .best .first .reviews .descr .slider h3, .reviews .descr .slider .we .best .first h3, .we .best .fifth .reviews .descr .slider h3, .reviews .descr .slider .we .best .fifth h3, .we .best .first .footer h3, .footer .we .best .first h3, .we .best .fifth .footer h3, .footer .we .best .fifth h3 {
  font-size: 40px;
  color: #c6192c;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.3em;
}
/* line 447, D:/proj/idea/openVillage/sass/style.sass */
.we .best .second, .we .best .third, .we .best .forth, .we .best .sixth, .we .best .seventh, .we .best .eighth {
  background: rgba(255, 255, 255, 0.9) url(../img/calendar.png) center left no-repeat;
  height: 128px;
}
/* line 450, D:/proj/idea/openVillage/sass/style.sass */
.we .best .second h3, .we .best .third h3, .we .best .forth h3, .we .best .sixth h3, .we .best .seventh h3, .we .best .eighth h3 {
  display: inline-block;
  margin-left: 125px;
  width: 800px;
}
/* line 454, D:/proj/idea/openVillage/sass/style.sass */
.we .best .second h3 span, .we .best .third h3 span, .we .best .forth h3 span, .we .best .sixth h3 span, .we .best .seventh h3 span, .we .best .eighth h3 span {
  color: #701876;
}
/* line 456, D:/proj/idea/openVillage/sass/style.sass */
.we .best .second h3 span:nth-child(2), .we .best .third h3 span:nth-child(2), .we .best .forth h3 span:nth-child(2), .we .best .sixth h3 span:nth-child(2), .we .best .seventh h3 span:nth-child(2), .we .best .eighth h3 span:nth-child(2) {
  color: #46b9bb;
  text-decoration: underline;
}
/* line 459, D:/proj/idea/openVillage/sass/style.sass */
.we .best .third {
  background: rgba(255, 255, 255, 0.7) url(../img/star.png) center left no-repeat;
}
/* line 462, D:/proj/idea/openVillage/sass/style.sass */
.we .best .forth {
  background: rgba(255, 255, 255, 0.9) url(../img/logo_small.png) center left no-repeat;
}
/* line 465, D:/proj/idea/openVillage/sass/style.sass */
.we .best .fifth {
  height: 135px;
}
/* line 468, D:/proj/idea/openVillage/sass/style.sass */
.we .best .sixth {
  background: rgba(255, 255, 255, 0.9) url(../img/hearth.png) center left no-repeat;
}
/* line 471, D:/proj/idea/openVillage/sass/style.sass */
.we .best .seventh {
  background: rgba(255, 255, 255, 0.7) url(../img/say.png) center left no-repeat;
}
/* line 474, D:/proj/idea/openVillage/sass/style.sass */
.we .best .eighth {
  background: rgba(255, 255, 255, 0.9) url(../img/people.png) center left no-repeat;
}

/* line 477, D:/proj/idea/openVillage/sass/style.sass */
.footer {
  background: url(../img/bg_footer.jpg) center no-repeat;
  height: 480px;
  text-align: center;
}
/* line 481, D:/proj/idea/openVillage/sass/style.sass */
.footer h2, .footer .descr .wrapper h3, .descr .wrapper .footer h3, .footer .descr .reviews h3, .descr .reviews .footer h3, .footer .reviews .descr .slider h3, .reviews .descr .slider .footer h3, .footer h3 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: normal;
  margin: 0;
}
/* line 488, D:/proj/idea/openVillage/sass/style.sass */
.footer h3 {
  font-size: 34px;
  display: inline-block;
  margin-top: 20px;
}
/* line 494, D:/proj/idea/openVillage/sass/style.sass */
.footer .dark {
  width: 940px;
  height: 160px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
}
/* line 499, D:/proj/idea/openVillage/sass/style.sass */
.footer .dark ul {
  font-size: 34px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-family: "Cuprum";
  margin: 10px 0 0 40px;
  list-style-type: square;
  letter-spacing: 1px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 510, D:/proj/idea/openVillage/sass/style.sass */
.footer .dark ul li {
  padding-left: 10px;
}

/* line 513, D:/proj/idea/openVillage/sass/style.sass */
.tour {
  margin: 10px auto;
}
/* line 515, D:/proj/idea/openVillage/sass/style.sass */
.tour input {
  width: 270px;
  height: 44px;
  background: white;
  border-radius: 5px;
  margin-bottom: 7px;
  margin-right: 10px;
}
/* line 523, D:/proj/idea/openVillage/sass/style.sass */
.tour button {
  width: 270px;
  height: 44px;
  color: black;
  font-size: 24px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid yellow;
  background-color: #ffc80c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffc900), color-stop(100%, #ffa200));
  background: -webkit-linear-gradient(top, #ffc900, #ffa200);
  background: -moz-linear-gradient(top, #ffc900, #ffa200);
  background: -o-linear-gradient(top, #ffc900, #ffa200);
  background: linear-gradient(top, #ffc900, #ffa200);
  -webkit-box-shadow: chocolate 0 3px 5px;
  -moz-box-shadow: chocolate 0 3px 5px;
  box-shadow: chocolate 0 3px 5px;
}

/* line 536, D:/proj/idea/openVillage/sass/style.sass */
.flip-clock-wrapper {
  margin-left: 10px;
  margin-top: 3px;
}
/* line 540, D:/proj/idea/openVillage/sass/style.sass */
.flip-clock-wrapper ul {
  width: 56px;
  margin-left: -2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #ffffff, #000000);
  background: -moz-linear-gradient(top, #ffffff, #000000);
  background: -o-linear-gradient(top, #ffffff, #000000);
  background: linear-gradient(top, #ffffff, #000000);
}

/* line 547, D:/proj/idea/openVillage/sass/style.sass */
.flip-clock-dot.top {
  visibility: hidden;
}
/* line 549, D:/proj/idea/openVillage/sass/style.sass */
.flip-clock-dot.bottom {
  visibility: hidden;
}

/* line 552, D:/proj/idea/openVillage/sass/style.sass */
.flip-clock-divider {
  width: 5px;
}

/* line 556, D:/proj/idea/openVillage/sass/style.sass */
span .flip-clock-label {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  left: 25px;
  top: 104px !important;
}
